*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --ff-primary: 'UnifrakturCook', serif;
    --ff-secondary: 'Merriweather', serif;
    --ff-tri: 'Great Vibes', serif;

    --fw-reg: 400;
    --fw-bold: 700;

    --clr-light: #e8e1cc;
    --clr-accent: #f26a02;
    --clr-accent2: #FC9B00;
    --clr-dark: #00314A;

    --fs-h1: 4rem;
    --fs-h2: 2.5rem;
    --fs-h3: 1.5rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
    0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

html {
    scroll-behavior: smooth;
}  

body {
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

h1 {
    font-family: var(--ff-primary);
    font-size: var(--fs-h1);
}

p {
    font-family: var(--ff-secondary);
}

.unifrakturcook-bold {
    font-family: "UnifrakturCook", cursive;
    font-weight: 700;
    font-style: normal;
  }

.great-vibes-regular {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
}
  