
:root {
    /* --ff-primary: 'UnifrakturCook', cursive; */

    --fs-h1: 8em;
    --fs-h2: 6em;
    --fs-h3: 2rem;
    --fs-body: 1rem;
}

h1 {
    font-family: var(--ff-tri);
    font-size: var(--fs-h1);
    font-weight: 580;
    text-align: center;
    line-height: 100%;
}

h2 {
    font-family: var(--ff-tri);
    font-size: var(--fs-h2);
    font-weight: 30;
    text-align: center;
    line-height: 100%;
    letter-spacing: 0.2em;
}

h3 {
    font-family: var(--ff-tri);
    font-size: var(--fs-h3);
    font-weight: 10;
    text-align: center;
    line-height: 100%;
    letter-spacing: 0.1em;
    bottom: -0.4em;
}

p {
    font-family: var(--ff-secondary);
    font-weight: 2em;
}

a {
    text-decoration: none;
}

a:hover {
    color: rgb(16, 48, 255);
    font-weight: bold;
}

a:visited {
    text-decoration: none;
}

ul {
    list-style: circle;
    font-size: 3em;
}


.intro {
    padding: 5em;
}
  
.intro-paragraph {
    padding: 1em;
    border-style: solid;
    border-width: 1em;
    border-spacing: 1em;
    display: center;
}