/* *,
*::before,
*::after {
    box-sizing: border-box;
} */

:root {
    --ff-primary: 'UnifrakturCook', cursive;
    --ff-secondary: 'Merriweather', serif;
    --ff-tri: 'Great Vibes', cursive;

    /* --fw-reg: 400;
    --fw-bold: 700;

    --fs-h1: 4rem;
    --fs-h2: 2.5rem;
    --fs-h3: 1.5rem;
    --fs-body: 1rem; */
}

h1 {
    font-family: var(--ff-tri);
    font-size: 6em;
    font-weight: 50;
    text-align: center;
    line-height: 100%;
    letter-spacing: 0.2em;
    position: relative;
    bottom: -0.4em;
}

p {
    font-family: var(--ff-secondary);
    font-weight: 2em;
}

.intro {
    padding: 10em;
}
  
.intro-paragraph {
    text-align: block;
    padding: 1em;
    border-style: solid;
    border-width: 1em;
    border-spacing: 1em;
    display: center;
}

.macherie {
    padding: 6em;
    text-align: center;
}

.macherie h1 {
    position: center;
    font-weight: 50;
    font-size: 6em;
}

.macherie p {
    font-weight: 100;
}

.macherie-vid {
    position: center;
}

.macherie-vid iframe {
    border-style: solid;
    border-width: 1em;
}

